body{
  margin-top: 100px;
}

.container {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
}

/* BLOCCO LEZIONI */
#lezioni img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* BLOCCO PERCHE */
#why img {
  background-color:#428bca;
  border-radius:50%;
  padding:30px
}

/* COMMON */

[background="grey"]{
  background-color: #f9f9f9;
}

img{
  height: 200px;
}

.text-center{
  text-align: center;
}

.mt-80{
  margin-top: 80px;
}

.container::after {
content: "";
display: table;
clear: both;
}

[class^="col-"] {
 float: left;
}

/* RESPONSIVE */
@media screen and (max-width: 992px) {
  .mb-30{
    margin-bottom: 30px;
  }

  h1{
    font-size: 40px;
  }

  h3{
    font-size: 35px;
  }

  p{
    font-size: 25px;
    padding: 0 150px;
  }
}

@media all and (max-width:768px) {
  .col-xs-1{
    width: calc(100% / 12);
  }
  .col-xs-2{
    width: calc(100% / 6);
  }
  .col-xs-3{
    width: calc(100% / 4);
  }
  .col-xs-4{
    width: calc(100% / 3);
  }
  .col-xs-5{
    width: calc((100% * 5) / 12));
  }
  .col-xs-6{
    width: calc(100% / 2);
  }
  .col-xs-7{
    width: calc((100% * 7) / 12);
  }
  .col-xs-8{
    width: calc((100% * 8) / 12);
  }
  .col-xs-9{
    width: calc((100% * 9) / 12);
  }
  .col-xs-10{
    width: calc(100% * 10) / 12);
  }
  .col-xs-11{
    width: calc(100% * 11) / 12);
  }
  .col-xs-12{
    width: 100%;
  }
  .col-xs-offset-1{
    margin-left: calc(100% / 12);
  }
  .col-xs-offset-2{
    margin-left: calc(100% / 6);
  }
  .col-xs-offset-3{
    margin-left: calc(100% / 4);
  }
  .col-xs-offset-4{
    margin-left: calc(100% / 3);
  }
  .col-xs-offset-5{
    margin-left: calc((100% * 5) / 12));
  }
  .col-xs-offset-6{
    margin-left: calc(100% / 2);
  }
  .col-xs-offset-7{
    margin-left: calc((100% * 7) / 12);
  }
  .col-xs-offset-8{
    margin-left: calc((100% * 8) / 12);
  }
  .col-xs-offset-9{
    margin-left: calc((100% * 9) / 12);
  }
  .col-xs-offset-10{
    margin-left: calc(100% * 10) / 12);
  }
  .col-xs-offset-11{
    margin-left: calc(100% * 11) / 12);
  }
}

@media all and (min-width:768px) and (max-width:992px) {
  .col-md-1{
    width: calc(100% / 12);
  }
  .col-md-2{
    width: calc(100% / 6);
  }
  .col-md-3{
    width: calc(100% / 4);
  }
  .col-md-4{
    width: calc(100% / 3);
  }
  .col-md-5{
    width: calc((100% * 5) / 12));
  }
  .col-md-6{
    width: calc(100% / 2);
  }
  .col-md-7{
    width: calc((100% * 7) / 12);
  }
  .col-md-8{
    width: calc((100% * 8) / 12);
  }
  .col-md-9{
    width: calc((100% * 9) / 12);
  }
  .col-md-10{
    width: calc(100% * 10) / 12);
  }
  .col-md-11{
    width: calc(100% * 11) / 12);
  }
  .col-md-12{
    width: 100%;
  }
  .col-md-offset-1{
    margin-left: calc(100% / 12);
  }
  .col-md-offset-2{
    margin-left: calc(100% / 6);
  }
  .col-md-offset-3{
    margin-left: calc(100% / 4);
  }
  .col-md-offset-4{
    margin-left: calc(100% / 3);
  }
  .col-md-offset-5{
    margin-left: calc((100% * 5) / 12));
  }
  .col-md-offset-6{
    margin-left: calc(100% / 2);
  }
  .col-md-offset-7{
    margin-left: calc((100% * 7) / 12);
  }
  .col-md-offset-8{
    margin-left: calc((100% * 8) / 12);
  }
  .col-md-offset-9{
    margin-left: calc((100% * 9) / 12);
  }
  .col-md-offset-10{
    margin-left: calc(100% * 10) / 12);
  }
  .col-md-offset-11{
    margin-left: calc(100% * 11) / 12);
  }
}

@media all and (min-width:992px) {
  .col-lg-1{
    width: calc(100% / 12);
  }
  .col-lg-2{
    width: calc(100% / 6);
  }
  .col-lg-3{
    width: calc(100% / 4);
  }
  .col-lg-4{
    width: calc(100% / 3);
  }
  .col-lg-5{
    width: calc((100% * 5) / 12));
  }
  .col-lg-6{
    width: calc(100% / 2);
  }
  .col-lg-7{
    width: calc((100% * 7) / 12);
  }
  .col-lg-8{
    width: calc((100% * 8) / 12);
  }
  .col-lg-9{
    width: calc((100% * 9) / 12);
  }
  .col-lg-10{
    width: calc(100% * 10) / 12);
  }
  .col-lg-11{
    width: calc(100% * 11) / 12);
  }
  .col-lg-12{
    width: 100%;
  }
  .col-lg-offset-1{
    margin-left: calc(100% / 12);
  }
  .col-lg-offset-2{
    margin-left: calc(100% / 6);
  }
  .col-lg-offset-3{
    margin-left: calc(100% / 4);
  }
  .col-lg-offset-4{
    margin-left: calc(100% / 3);
  }
  .col-lg-offset-5{
    margin-left: calc((100% * 5) / 12));
  }
  .col-lg-offset-6{
    margin-left: calc(100% / 2);
  }
  .col-lg-offset-7{
    margin-left: calc((100% * 7) / 12);
  }
  .col-lg-offset-8{
    margin-left: calc((100% * 8) / 12);
  }
  .col-lg-offset-9{
    margin-left: calc((100% * 9) / 12);
  }
  .col-lg-offset-10{
    margin-left: calc(100% * 10) / 12);
  }
  .col-lg-offset-11{
    margin-left: calc(100% * 11) / 12);
  }
}
